body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-Skill {
  margin: 50px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.my-skill{
  background-color: rgb(49, 128, 128);
  border-radius: 60px;
}

.card-Skill {
  flex-basis: calc(33.33%); 
}